body {
    
    padding-left: 350px;
  }
  body{
    background: url(./fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
font-family: 'Roboto', sans-serif;
}
  p {
    background-color: transparent
  }
  header a {
    text-decoration: none;
  }
  .titulo {
    text-align: center;
    font-size: 3.8rem;
   
  }
